
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar{
  display: flex;
  max-width: 100%;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}


.navbar{
  background-color: #1e2533;
}

.navbar h1{
  color: #ffffffc4;
  font-size: 28px;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  margin-left: 40px;
}

.navbar h1:hover{
  transform: scale(1.09);
  }
  
.links{
  margin-right: 80px;
}


  .links a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 40px; 
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    transition: transform 200ms ease-in-out;
  }
  
  .links a:hover{
    color: #ffffff;
    transform: scale(1.09);

  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
